* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00adb5;
  --secondary-color: #393e46;
}

body {
  background-color: #222831;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.big-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: var(--primary-color);
  font-size: 3rem;
}

.data-container {
  color: var(--secondary-color);
  background-color: #eeeeeecc;
  width: 50%;
  height: 600px;
  border-radius: 10px;
  margin-top: 50px;
  padding: 30px;
}

#data-length {
  font-size: 1.3rem;
}

.actions-container {
  margin-top: 13px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.actions-container img {
  width: 25px;
}

.actions-container #add-contact-icon {
  right: 0;
}

.input-container {
  position: relative;
}

.input-container #search-icon {
  top: 5px;
  position: absolute;
  left: 170px;
}

#search-bar {
  width: 200px;
  height: 25px;
  padding: 15px 10px;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border: 2px solid transparent;
  padding-right: 31px;
}

#search-bar:focus {
  border: 2px solid var(--secondary-color);
}

#search-bar::placeholder {
  font-size: 1rem;
}

.svgs-container {
  display: flex;
  gap: 5px;
}

.actions-container img {
  cursor: pointer;
}
