* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00adb5;
  --secondary-color: #222831;
  --third-color: #393e46;
}

body {
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}

.big-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: var(--primary-color);
  font-size: 3rem;
}

.data-container {
  color: var(--secondary-color);
  background-color: var(--third-color);
  width: 50%;
  min-height: 600px;
  border-radius: 10px;
  margin-top: 50px;
  padding: 30px;
  margin-bottom: 30px;
}

#data-length {
  font-size: 1.1rem;
  color: #b2b500;
}

.actions-container {
  margin-top: 13px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.actions-container img {
  width: 25px;
}

.input-container {
  position: relative;
}

.input-container #search-icon {
  top: 5px;
  position: absolute;
  left: 170px;
}

#search-bar {
  width: 200px;
  height: 25px;
  padding: 15px 10px;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border: 3px solid transparent;
  padding-right: 31px;
}

#search-bar:focus {
  border: 3px solid var(--primary-color);
}

#search-bar::placeholder {
  font-size: 1rem;
}

.svgs-container {
  display: flex;
  gap: 5px;
}

.actions-container img {
  cursor: pointer;
}

#search-icon {
  cursor: auto;
}

/* contacts */

.contacts-container {
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid #00adb5;
  border-top: 1px solid #00adb5;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.contact-info:hover {
  background-color: var(--third-color);
  cursor: pointer;
  transform: scale(1.01);
}
.contact-info img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.contact-info .left {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contact-info .name-phone-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-info .left span {
  color: #b2b500;
  display: inline-block;
  width: 60px;
}
.contact-info .right {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.contact-info .right img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.contact-info .right img:hover {
  transform: scale(1.2);
}

/* Form menu for adding contact  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.add-contact-menu,
.contact-info-menu {
  min-height: 450px;
  width: 450px;
  position: absolute;
  background-color: #464749;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 30px;
}

.add-contact-menu h3,
.contact-info-menu h3 {
  color: #b2b500;
}

.add-contact-menu .x,
.contact-info-menu .x {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #d4d7db;
  transition: color 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: cursive;
}

.add-contact-menu .x:hover,
.contact-info-menu .x:hover {
  color: red;
}

.add-contact-menu label {
  color: var(--primary-color);
  width: 100px;
  display: inline-block;
  font-size: 1.2rem;
}
.add-contact-menu input {
  width: 200px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.add-contact-menu #add-contact-btn {
  cursor: pointer;
  padding: 10px 0;
  width: 300px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: all 0.3s;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
}

.add-contact-menu #add-contact-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Contact Info Menu */

.contact-info-menu {
  /* display: flex; */
  font-size: 1.3rem;
}

.contact-info-menu span {
  color: var(--primary-color);
  display: inline-block;
  width: 100px;
}

.contact-info-menu p {
  width: 300px;
  color: white;
}

.contact-info-menu img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}
